<div class="row">

  <div class="col-md-6" *ngIf="readRfidView">
    <div class="box box-primary">

      <form [formGroup]="ReadRfidForm" (ngSubmit)="getTotal(f)" #f="ngForm">
        <fieldset>
          <legend>Dispositivo</legend>
          <div class="form-group">
            <label for="importo" class="col-lg-2 control-label">Codice</label>
            <div class="col-lg-10">
              <input type="text" appDeviceCodeInput class="form-control" id="rfidCode" name="rfidCode" formControlName="rfidCode">

            </div>
          </div>
        </fieldset>
        <button class="btn btn-success">leggi</button>
      </form>
    </div>
  </div>

  <div class="col-md-8" *ngIf="TotalInfoView">
    <div class="box box-primary">

      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Descrizione</th>
            <th>DAta Ora </th>
            <th>Prezzo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of allTransactions; let i = index">
            <td scope="row">{{i}}</td>
            <td>{{transaction.Descrizione}}</td>
            <td>{{transaction.TransactionDate | date:'dd/MM/y H:mm'}}</td>
            <td>€ {{transaction.Importo}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td><b>Totale:</b> </td>
            <td><b>€ {{Totale}}</b></td>
          </tr>
        </tfoot>
      </table>

    </div>

    <button class="btn btn-success" type="button" (click)="paidTotalReset()">Restituisci il dispositivo </button>
  </div>
</div>