
<div class="row" *ngIf="formView">
    <div class="col-md-6 col-md-offset-3">
        <div class="well">
            <form class="form-group"  (ngSubmit)="submit()"  [formGroup]="RfidForm" autocomplete="off">
                 <fieldset>
                    <legend>Dati utente</legend>
                <div class="form-group">
                    <label for="email">Email</label>
              
                    <input type="email" email required class="form-control input-sm" id="email" name="email" formControlName="email">
                   <ul *ngFor="let tipMail of _tipsMail" class="list-tipMail">
                       <li (click)="loadByEmail(tipMail)">{{tipMail}}</li>

                   </ul>

                </div>
                        <div class="form-group">
                    <label for="telefono">Telefono</label>
                    <input type="text" class="form-control input-sm" id="telefono" name="telefono" formControlName="telefono">

                </div>

               
                    <div class="form-group">
                    <label class="nome" for="nome">Nome</label>
                    <input type="text" class="form-control  input-sm" id="nome" name="nome" formControlName="nome">

                    </div>
                    <div class="form-group">

                    <label for="cognome">Cognome</label>
                    <input type="text" class="form-control input-sm" id="cognome" name="cognome" formControlName="cognome">
                    
                </div>
        
                 </fieldset>
                <fieldset class="form-group">
                     <legend>Dispositivo</legend>
                    <div class="form-group">
                        <textarea rows="1" required class="form-control input-sm" id="rfidCode" name="rfidCode" formControlName="rfidCode"></textarea>

                    </div>
                </fieldset>

                <button class="btn btn-success" [disabled]="!RfidForm.valid" type="submit">Salva</button>
            </form>
        </div>
    </div>
</div>


<div class="row" *ngIf="formView">
      <div class="col-md-4  col-md-offset-3">
    
      <button class="btn btn-success" routerLink="/manage-rfid" >Menu prinipale</button>
  
      </div>
  </div>
  <div class="row" *ngIf="!formView">
    <div class="col-md-6 col-md-offset-3">

  <app-notification
   [notificationMessage] = "_notificationMessage"
    [notifiacationType]="_notificationType">
    </app-notification>

    </div>
  </div>