 
 

 <div class="wells" *ngIf="ViewDeatail">
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Descrizione</th>
      <th>DAta Ora </th>
      <th class="col-md-1">Prezzo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of allTransactions; let i = index">
      <td scope="row">{{1+ i}}</td>
      <td >{{transaction.Descrizione}}</td>
      <td>{{transaction.TransactionDate | date:'dd/MM/y H:mm'}}</td>
      <td><label>€ {{transaction.Importo}}</label></td>
    </tr>
  </tbody>
  <tfoot>
              <tr>
            <td></td>
            <td></td>
            <td><b>Totale:</b> </td>
            <td><b>€ {{totalToPay}}</b></td>
          </tr>
  </tfoot>
</table>
<button class="btn btn-success btn-xs" type="button" (click)="paidTotalReset()">Salda il Conto</button>


  <!-- Modal -->
  <div 
  class="modal fade"
  [ngClass]="{'in': 'ViewOperationMessagesSuccessed'}"
   id="myModal"
    role="dialog" 
    *ngIf="ViewOperationMessagesSuccessed"
    [ngStyle]="{'display': 'ViewOperationMessagesSuccessed' ? 'block' : 'none'}">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
       
        <div class="modal-body">
          <p> L'operazione' è andata a buon fine!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="okclick()">Close</button>
        </div>
      </div>
      
    </div>
  </div>

<div class="row" *ngIf="ViewOperationMessages">
  <div class="col-md-12" *ngIf="ViewOperationMessagesSuccessed">
    <p>
    L'operazione' è andata a buon fine!</p> <br />
    <button class="btn btn-success"  routerLink="/manage-rfid">ok</button>
  </div>
</div>
<div class="row" *ngIf="ViewOperationMessagesFaliure">
  <div class="col-md-12">
    <p>
    Ci sono stati dei errori riprovare </p> <br />
    <button class="btn btn-success"  routerLink="/manage-rfid">ok</button>
  </div>
</div>
