<div class="row">
  <div class="col-md-2 col-md-offset-1">
      <button class="btn btn-success" routerLink="/manage-rfid" >Menu prinipale</button>
    </div>
  <div class="col-md-6">

    <div class="well">
      <h3 class="text-center">Paga con il dispositivo </h3>

      <form [formGroup]="PaidForm" (ngSubmit)="paid(f)" #f="ngForm">
        <fieldset>
          <div class="form-group">
            <label for="importo" class="col-lg-2 control-label">Importo</label>
            <div class="col-lg-10">
              <!--pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"-->
              <input type="number" class="form-control" id="price"   name="price" formControlName="price" placeholder="€">
              <span class="help-block allertMessage" *ngIf="PaidForm.controls.price.invalid && PaidForm.controls.price.touched">Inserisci l'importo corretto!</span>
            </div>
          </div>
            <div class="clearfix"></div>
          <br />


          <div class="form-group">
            <label for="descrizione" class="col-lg-2 control-label">Descrizione</label>
            <div class="col-lg-10">
              <textarea class="form-control" id="descrizione" name="descrizione" formControlName="descrizione"></textarea>
              <span class="help-block allertMessage" *ngIf="PaidForm.controls.descrizione.invalid && PaidForm.controls.descrizione.touched">Inserisci la descrizione</span>
            </div>
          </div>
          <div class="clearfix"></div>
          <br /><br />

          <div class="form-group">
            <label for="rfidCode" class="col-lg-2 control-label">Codice</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="rfidCode" appDeviceCodeInput name="rfidCode" formControlName="rfidCode">
              <span class="help-block allertMessage" *ngIf="PaidForm.controls.rfidCode.invalid && PaidForm.controls.rfidCode.touched">Scansiona il dispositivo</span>
            </div>
          </div>
        </fieldset>
        <div class="clearfix"></div>
        <br /><br />

        <div class="row">
          <div class="col-lg-10 col-md-offset-2">
            <button class="btn btn-success" [disabled]="!PaidForm.valid" type="submit">Paga</button>
            <button class="btn btn-danger pull-right" type="button" (click)="clearForm()">Ripulisci</button>
          </div>
        </div>

      </form>

    </div>

    <app-spinner [isRunning]="isProcessing"></app-spinner>
  </div>
</div>



   

