<div class="box box-info">

	<div class="box-header with-border">

		<h4 class="box-title">Registrazine</h4>

	</div>
	<form #f="ngForm" novalidate (ngSubmit)="registerUser(f)">

		<div class="box-body">
			<div class="form-group">
				<label for="first-name" class="col-lg-2 control-label">First name</label>
				<div class="col-lg-10">
					<input id="first-name" type="text" required name="firstName" class="form-control" placeholder="First name" tmFocus ngModel>
				</div>
			</div>

			<div class="clearfix"></div>
			<br/>

			<div class="form-group">
				<label for="last-name" class="col-lg-2 control-label">Last name</label>
				<div class="col-lg-10">
					<input id="last-name" type="text" required name="lastName" class="form-control" placeholder="Last name" ngModel>

				</div>
			</div>
			<div class="clearfix"></div>
			<br/>

			<div class="form-group">
				<label for="email" class="col-lg-2 control-label">Email</label>
				<div class="col-lg-10">
					<input id="email" type="text" required name="email" validateEmail class="form-control" placeholder="Email" ngModel #email="ngModel">
					<small [hidden]="email.valid || (email.pristine && !submitted)" class="text-danger">Please enter a valid email</small>
				</div>
			</div>
			<div class="clearfix"></div>
			<br/>

			<div class="form-group">
				<label for="password" class="col-lg-2 control-label">Password</label>
				<div class="col-lg-10">
					<input id="password" type="password" required name="password" class="form-control" placeholder="Password" ngModel>
				</div>
			</div>
			<div class="clearfix"></div>
			<br/>

			<div class="form-group" *ngIf="isAdministrator">
				<label for="choiseRole" class="col-lg-2 control-label">Ruolo</label>
				<div class="col-lg-10">
					<select id="choiseRole" name="role" class="form-control" ngModel>
                         <option *ngFor="let opt of optionsRoles, let i=index" >{{opt}}</option>

						</select>
				</div>
			</div>
			<div class="clearfix"></div>
			<br/>


		</div>



		<div class="box-footer">
			<button type="submit" class="btn btn-primary" [disabled]="f.invalid || isRequesting">Crea</button>
			 <app-spinner [isRunning]="isRequesting"></app-spinner> 
		</div>

		<div *ngIf="errors" class="alert alert-danger" role="alert">
			<strong>Oops!</strong> {{errors}}
		</div>

	</form>
</div>