<div class="row">
	<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-1 col-xs-10 col-xs-offset-1 ">  
    <h3> Cambio Password</h3>

		<div class="card">
			<div class="card-block">
				<form #f="ngForm" [formGroup]="ChangePasswordForm"  novalidate (ngSubmit)="change()">

					<div class="form-group">
						<label for="oldPassword">Vecchia password</label>
						<input id="oldPassword" type="password"
						required name="oldPassword" formControlName="oldPassword"
						 tmFocus  class="form-control"	>
						  <div *ngIf="errorMessage != ''">
						<small  class="text-danger">{{errorMessage}}</small>
					</div>

						 

					</div>

						<div class="form-group">
						<label for="newPassword">Nuova password</label>
						<input id="newPassword" type="password" required name="newPassword" formControlName="newPassword" tmFocus  class="form-control">
					
					</div>

						<div class="form-group"  [ngClass]="{'has-error': (ChangePasswordForm.controls.rpPassword.errors && ChangePasswordForm.controls.rpPassword.touched) }">
						<label for="rpPassword">Ripeti password</label>
						<input id="rpPassword" type="password" required name="rpPassword" formControlName="rpPassword" tmFocus  class="form-control">
						<div *ngIf="ChangePasswordForm.controls.rpPassword.errors && ChangePasswordForm.controls.rpPassword.touched">
						<small  class="text-danger">Password non coincidono</small>
					</div>
					</div>

				<div class="form-group"  >
						<button type="submit" class="btn btn-primary" [disabled]="f.invalid">Cabia</button>
						<!--<app-spinner [isRunning]="isRequesting"></app-spinner>-->
					</div>

					
				</form>

			</div>
		</div>
	</div>