<div class="row">
	<div class="col-md-6 col-md-offset-3 ">  
    <h3> Combio Password</h3>

		<div class="card">
			<div class="card-block">

				<h4>Login</h4>

				<form #f="ngForm" [formGroup]="ChangePasswordForm"  novalidate (ngSubmit)="change(f)">

					<div class="form-group">
						<label for="oldPassword">Vecchia password</label>
						<input id="oldPassword" type="password" required name="oldPassword" formControlName="oldPassword" tmFocus  class="form-control"
							placeholder="*************">
					</div>

						<div class="form-group">
						<label for="newPassword">Nuova password</label>
						<input id="newPassword" type="password" required name="newPassword" formControlName="newPassword" tmFocus  class="form-control"
							placeholder="*************">
					</div>

						<div class="form-group">
						<label for="rpPassword">Ripeti password</label>
						<input id="rpPassword" type="password" required name="rpPassword" formControlName="rpPassword" tmFocus  class="form-control"
							placeholder="*************">
					</div>

					<div *ngIf="errors" class="alert alert-danger" role="alert">
						<strong>Oops!</strong> {{errors}}
					</div>
				</form>

			</div>
		</div>
	</div>