<!--component html goes here -->

<div class="row">
        <div class="col-md-6 col-md-offset-3">
        <br /><br/>
        <div class="col-md-6">
                <button class="btn btn-sq-lg btn-success" (click)="paid()">
        <i class="fa fa-money fa-5x" aria-hidden="true"></i><br>
        Paga Rfid</button>
        </div>

        <div class="col-md-6">



                <ul class="list-unstyled">
                        <li>
                                <button (click)="createNew()" class="btn btn-primary btn-block">
                             Nuovo
                    </button>
                        </li><br />
                        <li>
                                <button class="btn btn-primary btn-block" (click)="totalAmount()">
                             Salda il conto
                    </button>
                        </li><br />
                         <li>
                                <button (click)="manageUser()" class="btn btn-primary btn-block">
                             Gestione utenti
                    </button>
                        </li><br />
                        <li>
                                <button [routerLink]="['/manage-rfid/devices']" class="btn btn-primary btn-block">
                             Dispositivi
                    </button>
                        </li><br />
                        <li>
                                <button [routerLink]="['/band']" class="btn btn-primary btn-block">
                             Statistiche
                    </button>
                        </li>
                </ul>
        </div>
        </div>
      
</div>