
        <div class="box box-info">
            <div class="box-header" >
                <h4 class="box-title">Grea operatore</h4>
            </div>
            <form class="form-group" (ngSubmit)="submit()" [formGroup]="OperatorForm" autocomplete="off">
               <div class="box-body">
                      <div class="form-group">
                        <label for="nome" class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-10">
                            <input type="email"  required class="form-control" id="email" name="email" formControlName="email">
                           
                        </div>
                    </div>
                    <div class="clearfix"></div>
                <br>
                    <div class="form-group">
                        <label for="nome" class="col-lg-2 control-label">Name</label>
                        <div class="col-lg-10">
                            <input type="text"    class="form-control" id="name" name="name" formControlName="name">
                           
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br>
                    <div class="form-group">
                        <label for="password" class="col-lg-2 control-label">Password</label>
                        <div class="col-lg-10">
                            <input type="password" required class="form-control" id="password" name="password" formControlName="password">
                        </div>
                    </div>

               </div>
                
              
                <div class="box-footer">
                    <button class="btn btn-success btn-flat" [disabled]="!OperatorForm.valid" type="submit">Salva</button>
                    <button class="btn btn-danger btn-flat pull-right" type="button" >Ripulisci</button>

                </div>


            </form>
     

</div>