<!-- Left side column. contains the logo and sidebar -->
  
  
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">


      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">Navigazione</li>

         <li routerLinkActive="active" *ngIf="isStoreAdministrator"
         [routerLinkActiveOptions]="{exact:true}">
         <a routerLink="/manage-rfid">
          <i class="fa fa-cubes"></i><span>
          Area Lavoro</span></a>
      </li>


       
       <!-- Administrator -->
           <li class="treeview" >
          <a routerLinkActive="active" *ngIf="isAdministrator"
           [routerLinkActiveOptions]="{exact:true}"
           routerLink="/administration">
           <i class="fa fa-link"></i> 
           <span>Amministrazione</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li><a routerLink="/administration/users/new">Crea Utente</a></li>
            <li><a routerLink="/administration/users">Utenti</a></li>
          </ul>
        </li>




        <!--- Store Administrator -->
          <li class="treeview" >
          <a routerLinkActive="active" *ngIf="isStoreAdministrator"
           [routerLinkActiveOptions]="{exact:true}"
           routerLink="/manage-operator">
           <i class="fa fa-link"></i> 
           <span>Operatori</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li><a routerLink="/manage-operator/operator/new">Crea Operatore</a></li>
            <li><a routerLink="/manage-operator/operators">Tutti</a></li>
          </ul>
        </li>



        <li routerLinkActive="active" *ngIf="isStoreAdministrator"
          [routerLinkActiveOptions]="{exact:true}"><a routerLink="/manage-store">Gestione Sore</a></li>
          <li routerLinkActive="active" *ngIf="isStoreAdministrator"
          [routerLinkActiveOptions]="{exact:true}"><a routerLink="/manage-operator">Gestione operatori</a></li>
      
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>
