<!-- Left side column. contains the logo and sidebar -->
  
  
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">


      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">Navigazione</li>

         <li routerLinkActive="active"
         [routerLinkActiveOptions]="{exact:true}"><a routerLink="/manage-rfid">Area Lavoro</a></li>


       
       <!-- Administrator -->
           <li class="treeview" >
          <a routerLinkActive="active" *ngIf="isAdministrator"
           [routerLinkActiveOptions]="{exact:true}"
           routerLink="/administration">
           <i class="fa fa-link"></i> 
           <span>Amministrazione</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li><a routerLink="/administration/users/new">Crea Utente</a></li>
            <li><a href="#">Link in level 2</a></li>
          </ul>
        </li>





        <li routerLinkActive="active" *ngIf="isStoreAdministrator"
          [routerLinkActiveOptions]="{exact:true}"><a routerLink="/manage-store">Gestione Sore</a></li>
          <li routerLinkActive="active" *ngIf="isStoreAdministrator"
          [routerLinkActiveOptions]="{exact:true}"><a routerLink="/manage-operator">Gestione operatori</a></li>




        <!-- Optionally, you can add icons to the links -->
        <li class="active"><a href="#"><i class="fa fa-link"></i> <span>Link</span></a></li>
        <li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li>

        <li class="treeview">
          <a href="#"><i class="fa fa-link"></i> <span>Multilevel</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#">Link in level 2</a></li>
            <li><a href="#">Link in level 2</a></li>
          </ul>
        </li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>
