<div class="container">
  <div class="row" *ngIf="readView">
    <div class="col-md-6  col-md-offset-3">
      <div class="well">

        <form [formGroup]="ReadRfidForm" (ngSubmit)="getUserByDetail(f)" #f="ngForm">
          <fieldset>
            <legend>Codice</legend>
            <div class="form-group">
              <input type="text" appDeviceCodeInput class="form-control" id="rfidCode" name="rfidCode" formControlName="rfidCode">
            </div>
          </fieldset>
          <fieldset>
            <legend>Email</legend>
            <div class="form-group">
              <input type="email" class="form-control" id="email" name="email" formControlName="email">
            </div>
          </fieldset>
          <button class="btn btn-success">leggi</button>
        </form>
      </div>
    </div>
  </div>



  <div class="row" *ngIf="userInfoView">

    <div class="col-md-3">
      <app-user-info [Anagrafica]="userDetailModel.Anagrafica"></app-user-info>
      <br>
      <button class="btn btn-success" routerLink="/manage-rfid">Menu prinipale</button>

    </div>


    <div class="col-md-4">

      <h3>Elenco Dispositivi</h3>
<ul class="list-group">
<li class="list-group-item"  *ngFor="let rfid of userDetailModel.Dispositivi; let i = index">
      <div class="media">
        <div class="media-left">

          <img class="media-object" [src]="rfidLogoPath" alt="..." width="80">

        </div>
        <div class="media-body">
          <h5  class="media-heading">Data :
            
          <span class="label label-success">{{rfid.LastModifiedDate | date:'dd/MM/y H:mm'}}</span></h5>
            <h5>Debito  
          <span class="label label-danger"> € {{rfid.Credit}}</span></h5>
   
        
          <button class="btn btn-info btn-md pull-right" (click)="viewDetail(rfid.RfidDeviceCode)">Dettagli</button>
        </div>
      </div>
</li>
</ul>
    
    <h5 class="text-right">Totoale: €{{total}} </h5>

      <button class="btn btn-success" (click)="totalPaid()"> Paga il totale  </button>

    </div>


    <div class="col-md-5" *ngIf="viewRfidDetail">
      <app-rfid-detail [rfidCode]="rfidCodeDetail" (NotificationPaidTotal)="NotificationPaidTotal()"></app-rfid-detail>
    </div>


  </div>
  <div class="row" *ngIf="TotalInfoView">
    <div class="col-md-6  col-md-offset-3">
      <button class="btn btn-success" type="button" (click)="paidTotal()">Paga il totale </button>
    </div>
  </div>


</div>