<div class="row" *ngIf="readView">
  <div class="col-md-12">
    <div class="allert allert-info">

       <form [formGroup]="ReadRfidForm" (ngSubmit)="getUserByDetail(f)" #f="ngForm">
        <fieldset>
          <legend>Codice</legend>
          <div class="form-group">
            <input type="text" class="form-control" id="rfidCode" name="rfidCode" formControlName="rfidCode">
          </div>
          </fieldset>
          <fieldset>
            <legend>Email</legend>
           <div class="form-group">
            <input type="email" class="form-control" id="email" name="email" formControlName="email">
          </div>
        </fieldset>
            <button class="btn btn-success">leggi</button>
       </form>
    </div>
  </div>
</div>


<div class="row"  *ngIf="userInfoView">
    <div class="col-md-12">
    <div class="allert allert-info">

      <label> Email : {{userDetailModel.Anagrafica.Email}}</label>
      <label> Nome : {{userDetailModel.Anagrafica.Nome}}</label>
      <label> Cognome : {{userDetailModel.Anagrafica.Cognome}}</label>
      <label> Telefino : {{userDetailModel.Anagrafica.Telefono}}</label>
    </div>
    </div>
</div>

<div class="row" *ngIf="userInfoView">
  <div class="col-md-12">
    <div class="allert allert-info">

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Codice Dispositivo </th>
      <th>Data assegnazione </th>
      <th>Debito</th>
      <th>Azioni<th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rfid of userDetailModel.Dispositivi; let i = index">
      <th scope="row">{{i}}</th>
      <td>{{rfid.RfidCode}}</td>
      <td>{{rfid.LastModifiedDate | date:'dd/MM/y H:mm'}}</td>
      <td>€ {{rfid.Credit}}</td>
      <td>
        <button class="btn btn-info" (click) ="viewDetail(rfid.RfidCode)"  >Dettagli</button>   
      <td>
    </tr>
  </tbody>
</table>
<button class="btn btn-success">
     
    </div>

    
  </div>
</div>
<div class="row" *ngIf="TotalInfoView">
  <div class="col-md-12">
    <button class="btn btn-success" type="button" (click)="paidTotal()">Paga il totale </button>
  </div>
</div>

<div class="row" *ngIf="ResultInfoView">
  <div class="col-md-12">
    <p>
    il pagamento è andata a buon fine!</p> <br />
    <button class="btn btn-success"  routerLink="/manage-rfid">ok</button>
  </div>
</div>

<div class="row" *ngIf="noDeviceUserView">
  <div class="col-md-12">
    <p>
   Non Stato trovato nessun utene associato a questo dispositivo </p> <br />
    <button class="btn btn-success"  routerLink="/manage-rfid">ok</button>
  </div>
</div>